{
.appVersion = "3526";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
},
{
name = Width;
tag = wdth;
}
);
date = "2026-05-08 14:10:01 +0000";
familyName = "GMC-I Neo";
fontMaster = (
{
axesValues = (
30,
75
);
id = "2C9AE6EE-6928-486F-9B5B-CFEA97DE3F93";
metricValues = (
{
pos = 1000;
},
{
over = 9;
pos = 700;
},
{
over = 9;
pos = 501;
},
{
over = -9;
},
{
over = -16;
pos = -200;
},
{
over = 9;
pos = 602;
},
{
},
{
over = 16;
pos = 800;
}
);
name = "Cond Thin";
},
{
axesValues = (
188,
75
);
iconName = Bold_Condensed;
id = "4E2227F3-52E4-4048-A8EE-327B486EF0A4";
metricValues = (
{
pos = 1000;
},
{
over = 8;
pos = 700;
},
{
over = 8;
pos = 520;
},
{
over = -8;
},
{
over = -8;
pos = -200;
},
{
over = 8;
pos = 602;
},
{
},
{
over = 8;
pos = 800;
}
);
name = "Cond Black";
userData = {
GSCornerRadius = 8;
GSOffsetHorizontal = 10;
GSOffsetVertical = 10;
noodleExtremesAndInflections = 1;
noodleRemoveOverlap = 1;
noodleThickness = "22.0";
};
},
{
axesValues = (
30,
100
);
id = "DE02EDB5-5F11-4BF6-8DF5-0BD6690C1E57";
metricValues = (
{
pos = 1000;
},
{
over = 8;
pos = 700;
},
{
over = 8;
pos = 501;
},
{
over = -8;
},
{
over = -8;
pos = -200;
},
{
over = 8;
pos = 602;
},
{
},
{
over = 8;
pos = 800;
}
);
name = Thin;
},
{
axesValues = (
188,
100
);
iconName = Bold;
id = "FFFA8D72-12AC-4CE0-B2CA-57A29829F4DA";
metricValues = (
{
pos = 1000;
},
{
over = 8;
pos = 700;
},
{
over = 8;
pos = 520;
},
{
over = -8;
},
{
over = -8;
pos = -200;
},
{
over = 8;
pos = 602;
},
{
},
{
over = 8;
pos = 800;
}
);
name = Black;
userData = {
GSCornerRadius = 8;
GSOffsetAutoStroke = 1;
GSOffsetHorizontal = 10;
GSOffsetVertical = 10;
noodleExtremesAndInflections = 1;
noodleRemoveOverlap = 1;
noodleThickness = "22.0";
};
}
);
instances = (
{
axesValues = (
96,
100
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 500;
},
{
Axis = Width;
Location = 100;
},
{
Axis = Slant;
Location = 0;
}
);
}
);
name = Medium;
properties = (
{
key = familyNames;
values = (
{
language = dflt;
value = "GMC-I Neo";
}
);
},
{
key = preferredFamilyNames;
values = (
{
language = dflt;
value = "GMC-I Neo";
}
);
},
{
key = WWSFamilyName;
value = "GMC-I Neo";
},
{
key = WWSSubfamilyName;
value = Medium;
}
);
weightClass = 500;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
filter = "case == 3";
type = "x-height";
},
{
type = "italic angle";
},
{
name = "zone 1";
}
);
settings = {
fontType = variable;
previewRemoveOverlap = 0;
};
unitsPerEm = 1000;
versionMajor = 1;
versionMinor = 0;
}
