(
.notdef,
.null,
CR,
space,
nbspace,
figurespace,
punctuationspace,
thinspace,
zerowidthspace,
zeroWidthNoBreakSpace,
wordjoiner,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
Aacute,
Abreve,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
Cacute,
Ccaron,
Ccedilla,
Cdotaccent,
Dcaron,
Dcroat,
Eth,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Schwa,
Gbreve,
Gcommaaccent,
Gdotaccent,
Hbar,
IJ,
Iacute,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Kcommaaccent,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
Nacute,
Ncaron,
Ncommaaccent,
Ntilde,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Otilde,
OE,
Thorn,
Racute,
Rcaron,
Rcommaaccent,
Sacute,
Scaron,
Scedilla,
Scommaaccent,
Germandbls,
Tcaron,
Tcedilla,
Tcommaaccent,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Zacute,
Zcaron,
Zdotaccent,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adotbelow,
Ahookabove,
Ccircumflex,
Ebreve,
Ecedilla,
Ecircumflexacute,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edotbelow,
Ehookabove,
Etilde,
Gcaron,
Gcircumflex,
Hcircumflex,
Ibreve,
Idotbelow,
Ihookabove,
Itilde,
Jcircumflex,
Ldot,
Eng,
Obreve,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odotbelow,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Scircumflex,
Tbar,
Ubreve,
Udotbelow,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Utilde,
Ydotbelow,
Yhookabove,
Ytilde,
aacute,
abreve,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
cacute,
ccaron,
ccedilla,
cdotaccent,
dcaron,
dcroat,
eth,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
schwa,
gbreve,
gcommaaccent,
gdotaccent,
hbar,
idotless,
iacute,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
ij,
jdotless,
kcommaaccent,
lacute,
lcaron,
lcommaaccent,
lslash,
nacute,
ncaron,
ncommaaccent,
ntilde,
oacute,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
oslash,
otilde,
oe,
thorn,
racute,
rcaron,
rcommaaccent,
sacute,
scaron,
scedilla,
scommaaccent,
germandbls,
tcaron,
tcedilla,
tcommaaccent,
uacute,
ucircumflex,
udieresis,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
wacute,
wcircumflex,
wdieresis,
wgrave,
yacute,
ycircumflex,
ydieresis,
ygrave,
zacute,
zcaron,
zdotaccent,
j.short,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adotbelow,
ahookabove,
ccircumflex,
ebreve,
ecedilla,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edotbelow,
ehookabove,
etilde,
ezh,
ezhcaron,
gcaron,
gcircumflex,
gstroke,
hcaron,
hcircumflex,
ibreve,
idotbelow,
ihookabove,
itilde,
jcircumflex,
kcaron,
ldot,
eng,
obreve,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odotbelow,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
oslashacute,
scircumflex,
tbar,
ubreve,
ucaron,
udotbelow,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
utilde,
ydotbelow,
yhookabove,
ytilde,
a.alt,
aogonek.alt,
n.curve,
etilde.001,
hcaron.001,
f_f_i.liga,
f_f_l.liga,
f_i.liga,
f_l.liga,
fi,
fl,
g_j.liga,
a.sc,
aacute.sc,
abreve.sc,
acaron.sc,
acircumflex.sc,
adieresis.sc,
agrave.sc,
amacron.sc,
aogonek.sc,
aring.sc,
atilde.sc,
ae.sc,
b.sc,
c.sc,
cacute.sc,
ccaron.sc,
ccedilla.sc,
cdotaccent.sc,
d.sc,
dcaron.sc,
dcroat.sc,
eth.sc,
e.sc,
eacute.sc,
ecaron.sc,
ecedilla.sc,
ecircumflex.sc,
edieresis.sc,
edotaccent.sc,
egrave.sc,
emacron.sc,
eogonek.sc,
f.sc,
g.sc,
gbreve.sc,
gcommaaccent.sc,
gdotaccent.sc,
h.sc,
hbar.sc,
i.sc,
iacute.sc,
icircumflex.sc,
idieresis.sc,
idotaccent.sc,
igrave.sc,
imacron.sc,
iogonek.sc,
ij.sc,
j.sc,
k.sc,
kcommaaccent.sc,
l.sc,
lacute.sc,
lcaron.sc,
lcommaaccent.sc,
lslash.sc,
m.sc,
n.sc,
nacute.sc,
ncaron.sc,
ncommaaccent.sc,
ntilde.sc,
eng.sc,
o.sc,
oacute.sc,
ocircumflex.sc,
odieresis.sc,
ograve.sc,
ohungarumlaut.sc,
omacron.sc,
oslash.sc,
otilde.sc,
oe.sc,
p.sc,
thorn.sc,
q.sc,
r.sc,
racute.sc,
rcaron.sc,
rcommaaccent.sc,
s.sc,
sacute.sc,
scaron.sc,
scedilla.sc,
scommaaccent.sc,
t.sc,
tbar.sc,
tcaron.sc,
tcedilla.sc,
tcommaaccent.sc,
u.sc,
uacute.sc,
ucircumflex.sc,
udieresis.sc,
ugrave.sc,
uhungarumlaut.sc,
umacron.sc,
uogonek.sc,
uring.sc,
v.sc,
w.sc,
wacute.sc,
wcircumflex.sc,
wdieresis.sc,
wgrave.sc,
x.sc,
y.sc,
yacute.sc,
ycircumflex.sc,
ydieresis.sc,
ygrave.sc,
z.sc,
zacute.sc,
zcaron.sc,
zdotaccent.sc,
ordfeminine,
ordmasculine,
Delta,
Omega,
mu,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
"leftanglebracket-math",
"rightanglebracket-math",
hyphen_hyphen.liga,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
softhyphen,
endash,
emdash,
figuredash,
hyphentwo,
nonbreakinghyphen,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
at,
ampersand,
section,
copyright,
registered,
published,
trademark,
degree,
minute,
second,
bar,
brokenbar,
literSign,
estimated,
replacementCharacter,
paragraph,
dagger,
daggerdbl,
at.alt,
bitcoin,
cent,
currency,
dollar,
euro,
franc,
liraTurkish,
ruble,
sterling,
yen,
bulletoperator,
commercialMinusSign,
divisionslash,
dotmath,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
logicalnot,
asciitilde,
asciicircum,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
lozenge,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
hookabovecomb,
commaturnedabovecomb,
commaabovecomb,
horncomb,
dotbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
cedillacomb.alt,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
cedilla.alt,
apostrophemod,
commaturnedmod
)